.sidebar {
    background-color: white;
    position: fixed;
    top: 60px;
    left: 0px;
    bottom: 0px;
    width: 72px;
    border-right-width: 2px;
    border-right-color: rgb(243, 243, 243);
    border-right-style: solid;
    z-index: 1000;
}

.sidebar-link {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link img {
    width: 26px;
    display: block;
} 

.sidebar-link div {
    font-family: Roboto;
    font-size: 10px;
}

.sidebar-link:hover {
    background-color: rgb(230, 230, 230);
}